﻿@using System.Web.Mvc.Html
@model ePark.WebUI.Areas.Admin.Models.ReportsModel

    @{
        ViewBag.Title = "Index";
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @Html.Partial("ViewReports")
</div>
</body>
</html>
