﻿
@model ePark.WebUI.Areas.Admin.Models.ReportsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InquiriesByDate</title>
</head>
<body>
<div>
    @Html.Partial("InquiriesByDateViewer")
</div>
</body>
</html>
