﻿@model ePark.Data.SystemParameter

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SystemParameter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParmValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParmValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParmMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParmMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParmRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParmRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParmDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParmDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParametersID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
