﻿@using System.Diagnostics.Eventing.Reader
@using ePark.WebUI.Helpers
@model ePark.WebUI.Areas.Users.ViewModels.UserDashboardViewModel

@{
    ViewBag.Title = "Index";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="bActivewidget bActivewidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-list-alt txt-color-white"></i> </span>
                        <h2> Recent Parking Inquiry Activity </h2>
                    </header>
                    <div role="content">
                        @AlertHelper.GetAvailableAlerts(this.ViewContext)
                        <div class="widget-body no-padding mcc-form">
                            <h5 class="inquiry-dashboard-group-title"><i class="fa fa-exclamation-triangle txt-color-orange"></i> INQUIRIES &amp; CONTRACTS </h5>
                            <ul id="sortable1" class="inquiry-dashboard">
                                @if (Model.InquiriesAwaitingPayment.Count > 0)
                                {
                                    foreach (var inquiry in Model.InquiriesAwaitingPayment)
                                    {
                                        <li>
                                            <p>
                                                <a href="@Url.Action("Index", "Payment", new {area = "Users", id = inquiry.InquiryID})"><strong>Inquiry #@inquiry.Id</strong></a> - @inquiry.FirstName @inquiry.LastName | Reservation <small>(@inquiry.GroupDesc.ToLower() access)</small>
                                                <span class="text-muted">
                                                    @if (!inquiry.IsApproved.Value)
                                                    {
                                                        <text>Pending Approval for </text>
                                                        @inquiry.ReservedMonthDateTime
                                                    }
                                                    else
                                                    {
                                                        <text>Inquiry Approved </text>@inquiry.ApprovedDate
                                                    }, Awaiting Payment
                                                </span>
                                                <span class="text-muted">Inquiry Received: @inquiry.CreateDate</span>
                                            </p>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </section>
</div>

<div class="modal fade" id="approveInquiry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Approval</h4>
            </div>
            <div class="modal-body">
                <span>Are you sure you want to approve Inquiry #<label id="InquiryId" value=""></label>?</span>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="QuickConfirmCancel(this)" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="QuickConfirmProceed(this)" class="btn btn-danger">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        //page setup belongs in the layout... inquiry junk only on the dashboard
        $(document).ready(function () {

            $('ul.inquiry-dashboard li').on('click', function () {
            window.location = $("a", this).attr('href');
            });

            function countInquries() {

                $('.inquiry-dashboard-group-title').each(function () {
                    var $this = $(this);
                    $this.find(".num-of-inquiries").text($this.next().find("li").size());
                });
            }

            $(".js-status-update a").click(function () {
                var selText = $(this).text();
                var $this = $(this);
                $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
                $this.parents('.dropdown-menu').find('li').removeClass('active');
                $this.parent().addClass('active');
            });

            //$(function () {
            //    $("#sortable1, #sortable2").sortable({
            //        handle: '.handle',
            //        connectWith: ".inquiry-dashboard",
            //        update: countInquries
            //    }).disableSelection();
            //});

            $('.inquiry-dashboard .checkbox > input[type="checkbox"]').click(function () {

                //var inquiryId = $(this).data('inquiry-id');
                //alert('clicked ' + inquiryId);
                //$(".modal-body #InquiryId").val(inquiryId);
               $('#approveInquiry').modal('show');

            });

            $('#approveInquiry').on('show.bs.modal', function (event) {
                var checkbox = $(event.relatedTarget); // Button that triggered the modal
                var inquiryId = checkbox.data('inquiry-id'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('Confirm Inquriy #' + inquiryId);
                modal.find('.modal-body #InquiryId').val(inquiryId);
            });

            $('.fc-header-right, .fc-header-center').hide();

        });

        function QuickConfirm() {

                $('#modalContent').load(this.href, function () {
                    $('#myModal').modal('show');

                return false;
            });
        }

        function QuickConfirmProceed() {

            alert('confirmed');
        }

        function QuickConfirmCancel() {

            alert('cancelled');
        }

        //$('.inquiryApproval').click(function (e) {e.stopPropagation();

        //    var inquiryId = $(this).data('id');
        //    $(".modal-body #InquiryId").val(inquiryId);
        //    $('#approve-inquiry').modal('show');
        //    //$.ajax({
        //    //    type: 'POST',
        //    //    url: 'Dashboard/UpdateInquiries',
        //    //    data: { 'id': id }
        //    //});
        //});

        //$('input:checkbox').click(function (e) {e.stopPropagation();

        //    //$.ajax({
        //    //    type: 'POST',
        //    //    url: 'Dashboard/UpdateInquiries',
        //    //    data: { 'id': id }
        //    //});
        //});


    </script>
}
