﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="height:575px; overflow:auto;">
        <telerik:ReportViewer ID="ReportViewer2" runat="server" Width="95%" Height="100%" skin="WebBlue">
        </telerik:ReportViewer>
    </div>
</body>
</html>
