﻿@model IEnumerable<ePark.Data.EmailTemplate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmailShortDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailText)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmailShortDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailText)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmailTemplateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmailTemplateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmailTemplateID })
        </td>
    </tr>
}

</table>
