﻿@using ePark.WebUI.Helpers
@model ePark.WebUI.Models.PayModel

@{
    ViewBag.Title = "Payments";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-user"></i> Administrative Payments <span>&gt; View Outstanding Payments</span></h1>
    </div>
</div>

<section id="widget-grid" class="">

    @AlertHelper.GetAvailableAlerts(this.ViewContext)

    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="jqgrid"></table>
            <div id="pjqgrid"></div>
        </article>
    </div>

    <div class="row">

        <article class="col-sm-12 sortable-grid ui-sortable">

            <div class="bActivewidget margin-top-20" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

                <header role="heading">
                    <div class="bActivewidget-ctrls" role="menu"> <a href="@Url.Action("Index", "Dashboard", new {area = "Admin"})" class="button-icon" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><i class="fa fa-times"></i></a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Summary</h2>

                    <span class="bActivewidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <div role="content">

                    <div class="widget-body">
                        @using (Html.BeginForm("PaymentMaint", "PaymentManagement", FormMethod.Post, new {type = "form", @class = "form-horizontal", id = "PaymentForm"}))
                        {
                            @Html.AntiForgeryToken()

                            <fieldset>
                                <legend>Payment Information</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SelectedPayTypeId, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10 has-feedback">
                                        @Html.DropDownListFor(model => model.SelectedPayTypeId, Model.PayTypes, htmlAttributes: new {@class = "form-control input-sm"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.amt, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayFor(model => model.amt)</label>
                                        @Html.HiddenFor(model => model.userid)
                                        @Html.HiddenFor(model => model.amt)
                                        @Html.ValidationMessageFor(model => model.amt, "", new {@class = "text-danger small"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ttlCBIDFee, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayFor(model => model.ttlCBIDFee)</label>
                                        @Html.HiddenFor(model => model.ttlCBIDFee)
                                        @Html.ValidationMessageFor(model => model.ttlCBIDFee, "", new {@class = "text-danger small"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ttlTax, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayFor(model => model.ttlTax)</label>
                                        @Html.HiddenFor(model => model.ttlTax)
                                        @Html.ValidationMessageFor(model => model.ttlTax, "", new {@class = "text-danger small"})
                                        @Html.HiddenFor(model => model.ContractTranstctionIds)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ttlAmount, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        <label class="control-label">@Html.DisplayFor(model => model.ttlAmount)</label>
                                        @Html.HiddenFor(model => model.ttlAmount)
                                        @Html.ValidationMessageFor(model => model.ttlAmount, "", new {@class = "text-danger small"})
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions payment-form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" name="SubmitPayment" type="submit">
                                            <i class="fa fa-credit-card"></i>
                                            Process Payment
                                        </button>&nbsp;&nbsp;
                                        <a href="@Url.Action("Index", "Dashboard", new {area = "Admin"})" class="btn btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("PaymentCC", "PaymentManagement", FormMethod.Post, new {type = "form", @class = "form-horizontal", id = "PaymentCCForm"}))
                        {
                            @Html.AntiForgeryToken()

                            <fieldset>
                                <legend>Credit Card Information</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BillingCardTypesID, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10 has-feedback">
                                        @Html.DropDownListFor(model => model.BillingCardTypesID, Model.BillingCardTypes, htmlAttributes: new {@class = "form-control input-sm"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CCard, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        @Html.HiddenFor(model => model.ContractTranstctionIds)
                                        @Html.HiddenFor(model => model.SelectedPayTypeId)
                                        @Html.HiddenFor(model => model.ttlAmount)
                                        @Html.HiddenFor(model => model.ttlCBIDFee)
                                        @Html.HiddenFor(model => model.ttlTax)
                                        @Html.HiddenFor(model => model.userid)
                                        @Html.TextBoxFor(model => model.CCard, new {type = "number", @class = "form-control", tabindex = 1, required = "required"})
                                        @Html.ValidationMessageFor(model => model.CCard, "", new {@class = "text-danger small"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CVV, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.CVV, new {type = "number", @class = "form-control", tabindex = 1, required = "required"})
                                        @Html.ValidationMessageFor(model => model.CVV, "", new {@class = "text-danger small"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CCName, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.CCName, new {type = "text", @class = "form-control", tabindex = 1, required = "required"})
                                        @Html.ValidationMessageFor(model => model.CCName, "", new {@class = "text-danger small"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CCZip, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.CCZip, new {type = "number", @class = "form-control", tabindex = 1, required = "required"})
                                        @Html.ValidationMessageFor(model => model.CCZip, "", new {@class = "text-danger small"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CCMonthSelectedId, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10 has-feedback">
                                        @Html.DropDownListFor(model => model.CCMonthSelectedId, Model.CCMonthItems, htmlAttributes: new {@class = "form-control input-sm"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SelectedCCYearId, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10 has-feedback">
                                        @Html.DropDownListFor(model => model.SelectedCCYearId, Model.CCYearsItems, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" name="SubmitCCPayment" type="submit">
                                            <i class="fa fa-credit-card"></i>
                                            Process Payment
                                        </button>&nbsp;&nbsp;
                                        <a href="@Url.Action("Index", "Dashboard", new {area = "Admin"})" class="btn btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </article>
    </div>
</section>

<div class="modal fade in" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel">
    <div class="modal-backdrop fade in" style="height: 539px;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Credit Card Payment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h1 class="text-align-center">Processing payment, please hold on...</h1>
                        </div>
                        <div class="text-align-center margin-bottom-20">
                            <span class="widget-icon align-center"> <i class="fa fa-4x fa-spinner fa-spin"></i> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/jquery.jqGrid.min.js")
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#PaymentCCForm').on('submit', function () {
                var form = $("#PaymentCCForm");
                if (form.valid()) {
                    $('#paymentModal').modal({
                        backdrop: 'static',
                        keyboard: false,
                        closable: false
                    });

                    return true;
                    //setTimeout(function () {
                    //    return true;
                    //}, 5000);
                }
                return false;
            });

            $('#paymentModal').on('show.bs.modal', function (e) {
                var button = e.relatedTarget;
                if ($(button).hasClass('no-modal')) {
                    e.stopPropegation();
                }
            });

            $("#PaymentCCForm").hide();

            $("#SelectedPayTypeId").on("change", function () {
                if (this.value == "5") {
                    $("#PaymentCCForm").show();
                    $(".payment-form-actions").hide();
                }
                else {
                    $("#PaymentCCForm").hide();
                    $(".payment-form-actions").show();
                }
            });

            jQuery("#jqgrid").jqGrid({
                //data: jqgridData,
                mtype: "Get",
                datatype: "Json",
                url: "ProvideSelectedPayments",
                height: 'auto',
                colNames: ["ContractTransactionID", "User", "First Name", "Last Name", "Payment", "Amount", "CBID Fee", "Tax"],
                colModel: [
                    {
                        name: "ContractTransactionID",
                        index: "ContractTransactionID",
                        key: true,
                        hidden: true
                    },
                    {
                        name: 'UserName',
                        index: 'UserName',
                        sortable: false,
                        editable: false//,
                        // formatter: formateadorLink
                    }, {
                        name: 'FirstName',
                        index: 'FirstName',
                        editable: false
                    }, {
                        name: 'LastName',
                        index: 'LastName',
                        editable: false

                    }, {
                        name: 'TransactionDesc',
                        index: 'TransactionDesc',
                        editable: false
                    }, {
                        name: 'Amount',
                        index: 'Amount',
                        editable: true,
                        formatter: 'number',
                        formatoptions: { decimalPlaces: 2 }

                    },
                     {
                         name: 'CBIDFee',
                         index: 'CBIDFee',
                         editable: false,
                         formatter: 'number',
                         formatoptions: { decimalPlaces: 2 }

                     },
                      {
                          name: 'Tax',
                          index: 'Tax',
                          editable: false,
                          formatter: 'number',
                          formatoptions: { decimalPlaces: 2 }

                      }
                ],
                rowNum: 10,
                rowList: [10, 20, 30],
                pager: "#pjqgrid",
                sortname: "id",
                toolbarfilter: true,
                viewrecords: true,
                sortorder: "asc",
                gridComplete: function () {
                    var ids = jQuery("#jqgrid").jqGrid("getDataIDs");
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('" + cl + "');\"><i class='fa fa-pencil'></i></button>";
                        se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('" + cl + "');\"><i class='fa fa-save'></i></button>";
                        ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                        ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                        jQuery("#jqgrid").jqGrid("setRowData", ids[i], { act: be + se + ce });
                        jQuery("#jqgrid").jqGrid("setRowData", ids[i], {act: be + se + ca});
                    }
                },
                editurl: "Edit",
                caption: "ePark Payments",
                // multiselect: true,
                autowidth: true

            });

        });

        function formateadorLink(cellvalue, options, rowObject) {

            return "<a href=/Admin/PaymentManagement/PaymentMaint/" + rowObject.ContractTransactionID + ">" + cellvalue + "</a>";
        }

        function decimalMoney() {

            return "number: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, defaultValue: '0.00' }";

        }

        function hidebtnPurchaseNow() {

            $('#<%=btnPurchaseNow.ClientID%>').hide();
            if (validateinput()) {
                document.getElementById('divPaymentWIP').style.display = "block";
            }
            else {
                var foo = $('#<%=hdnPageMode.ClientID %>').val("invinput");
            }
        }

        function showPaymentSuccess() {
            document.getElementById('divPaymentSuccess').style.display = "block";
            document.getElementById('divPaymentWIP').style.display = "none";
            $('#<%=btnPurchaseNow.ClientID%>').hide();
        }

        //WHEN CALLED BY ONKEYDOWN, THIS FUNCTION LIMITS ENTRY TO ONLY NUMERIC VALUES, DECIMALS, ARROWS, BACKSPACE AND DELETE KEYS
        function limitNumericDec() {
            var key = window.event.keyCode;
            if (window.event.keyCode == 16) { shiftOn = true; }

            if (shiftOn) { window.event.keyCode = 39; }

            else if ((key >= 96 && key <= 105) || (key >= 48 && key <= 57) || (key >= 37 && key <= 40) || key == 8 || key == 46 || key == 9 || key == 190 || key == 110) {
                PreviousKey = key;
            }
            else { window.event.keyCode = 39; }
        }
        //END =========================================================================

        function limitNumeric() {
            var key = window.event.keyCode;
            if (window.event.keyCode == 16) { shiftOn = true; }

            if (shiftOn) { window.event.keyCode = 39; }

            else if ((key >= 96 && key <= 105) || (key >= 48 && key <= 57) || (key >= 37 && key <= 40) || key == 8 || key == 46 || key == 9) {
                PreviousKey = key;
            }
            else { window.event.keyCode = 39; }
        }


    </script>
}
