﻿@model ePark.WebUI.ViewModels.ParkingInquiryViewModel

@{
    ViewBag.Title = "Music City Center - ePark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mcc-epark-intro" class="standard-section first-section text-left">
    <div class="heading-intro margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>Music City Center Parking</h2>
                                    <p>
                                        Welcome to the best place to park in downtown Nashville! Our three-level, covered parking garage has 1,800 spaces so you will always find a spot.
                                    <p>In order to reserve your place, MCC requires you to fill out a parking inquiry form. Once you complete this form and submit it to us, we will review your application, check availablity, and email you with instructions for completing your application for parking.</p>
                                    <p>Check out our rates page and follow us on twitter &#64;NashvilleMCC for updates on our early bird specials and special event parking rates.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well well-lg well-light">
                                    <h4>GARAGE DETAILS AND PRIVELEGES</h4>
                                    <div class="intra-well-content-full">
                                        <ul class="list-unstyled text-left">
                                            <li><i class="fa fa-check text-success"></i>&nbsp;The Nashville Music City Center parking operation is the largest in parking operation in downtown Nashville</li>
                                            <li><i class="fa fa-check text-success"></i>&nbsp;Garage is equipped with a 24/7 fully automated system that accepts debit and credit cards upon exit</li>
                                            <li><i class="fa fa-check text-success"></i>&nbsp;Within easy walking distance to all downtown attractions</li>
                                            <li><i class="fa fa-check text-success"></i>&nbsp;Reasonable hourly, daily, and monthly parking rates</li>
                                            <li><i class="fa fa-check text-success"></i>&nbsp;Special promotional rates for qualifying corporations</li>
                                            <li><i class="fa fa-check text-success"></i>&nbsp;Garage has 24 hour roving security</li>
                                            <li><i class="fa fa-check text-success"></i>&nbsp;Three levels of covered parking with 1,800 spaces so you will always find a spot</li>
                                            <li><i class="fa fa-check text-success"></i>&nbsp;Our special event parking system allows for a quick exit after big events</li>
                                        </ul>
                                    </div>
                                    <p class="last-in-well-normal">
                                        More details about something... maybe disclaimer information or notes.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="last-in-well-weighted">
                            Additional details... maybe disclaimer information or notes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mcc-epark-information" class="standard-section text-left">
    <div class="heading-information margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>Parking Information</h2>
                                    <p>
                                        MCC has an automated system that accepts debit and credit cards upon exit and our special event parking system allows for a quick exit after big events. Whether you need parking by the hour or by the month, our rates are very reasonable. Check out our rates below and follow us on twitter &#64;NashvilleMCC for updates on our early bird specials and special event parking rates.
                                    </p>
                                    <p>Additionally, we offer discounted monthly parking for some corporate affiliations. Apply today to see if you qualify!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="well well-light">
                                            <h4>PARKING RATES</h4>
                                            <div class="intra-well-content-half">
                                                <div class="intra-well-content-half">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Timeframe</th>
                                                                <th>Price / Rate</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <code>
                                                                        0 - 4 Hours
                                                                    </code>
                                                                </td>
                                                                <td>$7.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <code>
                                                                        4-10 Hours
                                                                    </code>
                                                                </td>
                                                                <td>$12.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <code>
                                                                        Daily Max
                                                                    </code>
                                                                </td>
                                                                <td>$18.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <code>
                                                                        Lost Ticket
                                                                    </code>
                                                                </td>
                                                                <td>$18.00</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <ul class="list-unstyled text-left">
                                                    <li><i class="fa fa-angle-double-right"></i>&nbsp;Garage has 24 Hour Roving Security</li>
                                                    <li><i class="fa fa-angle-double-right"></i>&nbsp;Some Corporate Affiliations Receive Discounts</li>
                                                    <li><i class="fa fa-angle-double-right"></i>&nbsp;Garage is Available Around the Clock</li>
                                                </ul>
                                            </div>
                                            <p class="last-in-well-normal">
                                                More details about something...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="well well-light">
                                            <h4>CONTACT INFORMATION</h4>
                                            <div class="intra-well-content-half">
                                                <div class="intra-well-content-half">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Contact</th>
                                                                <th>Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <code>
                                                                        Main Number
                                                                    </code>
                                                                </td>
                                                                <td>615-401-1300</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <code>
                                                                        Main Fax
                                                                    </code>
                                                                </td>
                                                                <td>615-401-1487</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <code>
                                                                        Site Manager
                                                                    </code>
                                                                </td>
                                                                <td>615-401-1303</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <code>
                                                                        Email Address
                                                                    </code>
                                                                </td>
                                                                <td>MCCSecurityParking &#64;nashvillemcc.com</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <ul class="list-unstyled text-left">
                                                    <li><i class="fa fa-fw"></i><strong>&nbsp;Billing Address</strong></li>
                                                    <li><i class="fa fa-fw"></i>&nbsp;201 5th Avenue South</li>
                                                    <li><i class="fa fa-fw"></i>&nbsp;Nashville, TN 37203</li>
                                                </ul>
                                            </div>
                                            <p class="last-in-well-normal">
                                                More details about something...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="well well-light">
                                            <h4>PARKING MAP</h4>
                                            <div class="intra-well-content-full">
                                                <img class="img-responsive" src="~/Content/img/parkingmap_3a.png" />
                                            </div>
                                            <p class="last-in-well-normal">
                                                More details about something...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="last-in-well-weighted">
                            Additional details... maybe disclaimer information or notes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mcc-epark-transportation" class="standard-section text-left bg-gray">
    <div class="heading-transportation margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>Transportation Details</h2>
                                    <p>
                                        The Nashville Metropolitan Transit Authority (MTA) Music City Circuit has two routes serving downtown Nashville (Monday through Saturday).
                                    </p>
                                    <p>Circuit buses traveling on the Blue and Green Circuits operate every seven to eight minutes between 11 a.m. and 6 p.m. and every 15 minutes after 6 p.m. along 5th Avenue to and from Demonbreun Street and the Bicentennial Mall area. On weekdays, the Blue and Green Circuits operate every 40 minutes from 6:30 a.m. to 11 a.m.; every 15 minutes from 11 a.m. to 6 p.m.; and every 30 minutes from 6 p.m. to 11 p.m. On Saturdays, the Blue and Green Circuits operate every 15 minutes from 11 a.m. to 6 p.m. and every 30 minutes from 6 p.m. to 11 p.m. The Purple Circuit operates every 15 minutes on weekdays.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well">
                                    <h4>NASHVILL MUSIC CITY CIRCUIT</h4>
                                    <div class="intra-well-content-full">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <address>
                                                    <strong>GREEN CIRCUIT</strong>
                                                    <br />
                                                    6:30A – 11:00A every 30 minutes
                                                    <br />
                                                    11:00A – 11:00P every 15 minutes
                                                    <br />
                                                    *STOPS at Demonbreun, 5th, 6th, 7th & 8th Avenues
                                                </address>
                                            </div>
                                            <div class="col-lg-6">
                                                <address>
                                                    <strong>BLUE CIRCUIT</strong>
                                                    <br />
                                                    6:30A – 11:00A: every 30 minutes
                                                    <br />
                                                    11:00A – 6:00P: every 15 minutes
                                                    <br />
                                                    *STOPS at Demonbreun & 5th Avenue ONLY
                                                </address>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <address>
                                                    <strong>ROUTE 18</strong>
                                                    <br />
                                                    HOTEL / CONVENTION CENTER
                                                    <br />
                                                    6:30A – 11:00P: every 60 minutes
                                                    <br />
                                                    *STOPS at Korean Veterans Boulevard & 6th Avenue Only
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="last-in-well-normal">
                                        For more information about the Music City Circuit, please visit the <a href="http://www.nashvillemta.org/Nashville-MTA-Music-City-Circuit.asp">Metro Transit Authority page</a>. For other transportation options, please refer to the <a href="http://www.visitmusiccity.com/Visitors/gettingaround/transportationinfo">Nashville Travel &amp; Transporation Information page</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="last-in-well-weighted">
                            Additional details... maybe disclaimer information or notes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mcc-epark-directions" class="standard-section text-left">
    <div class="heading-directions margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>Directions &amp; Map</h2>
                                    <p>
                                        We are over yonder.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well well-light">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4>MAP</h4>
                                            <div class="intra-well-content-full">
                                                <a href="https://www.google.com/maps/place/Music+City+Center/&#64;36.1571239,-86.7743391,16z/data=!4m2!3m1!1s0x8864665e441dc1db:0xae6a87c908d95a40?hl=en" target="_blank"><img class="img-responsive" src="~/Content/img/musiccitycentermap02.png" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4>DETAILED DIRECTIONS</h4>
                                            <div class="intra-well-content-full">
                                                <p><strong>NORTH: </strong>From the North on I-65—Take I-65 South toward Nashville. Keep left to continue on I-24 East. Follow signs for I-24/I-40 E/Chattanooga/Knoxville. Take exit 49 for Shelby Avenue. Turn left onto Shelby Avenue. Continue onto Korean Veterans Boulevard. Located on right at&nbsp;600 Korean Veterans Boulevard. Turn right on 6th Avenue for entrances to the garage.</p>

                                                <p><strong>SOUTH: </strong>From the South on I-65—Take I-65 North toward Nashville. Take I-65 North to I-40 East merge, exit 82B towards Knoxville and KEEP RIGHT. Immediately take exit 210C, 4th/2nd Avenue. Stay straight, and in the middle lane. Turn left onto 2nd Avenue South. Continue on 2nd Avenue until Koreans Veterans Boulevard, and turn left. Located on right at 600 Korean Veterans Boulevard. Turn right on 6th Avenue for entrances to the garage.</p>

                                                <p><strong>EAST: </strong>From the East on I-24—Take I-24 West toward Nashville/Birmingham. Keep left to continue on I-40 West, follow signs for Huntsville/Memphis/I- 65 South. Take exit 210C for 2nd Avenue toward 4th Avenue South. Keep right at the fork, follow signs for 2nd Avenue and turn right onto 2nd Avenue South. Continue on 2nd Avenue to Korean Veterans Boulevard and turn left. Located on right at 600 Korean Veterans Boulevard. Turn right on 6th Avenue for entrances to the garage.</p>

                                                <p><strong>WEST:</strong> From the West on I-24—Take I-24 East. Keep left to stay on I-24 East, follow signs for I-24/I-40 East/Chattanooga/Knoxville. Take exit 49 for Shelby Avenue. Turn left onto Shelby Avenue. Continue onto Korean Veterans Boulevard. Located on right at 600 Korean Veterans Boulevard. Turn right on 6th Avenue for entrances to the garage.</p>

                                                <p><strong>NORTHWEST: </strong>From the West on I-40—Take I-40 East toward Nashville. Take exit 209B toward Broadway/Demonbreun Street. Merge onto 14th Avenue North. Turn left onto Broadway. Turn right onto 8th Avenue. At the traffic circle, take the&nbsp;third exit onto Korean Veterans Blvd. Located on&nbsp;left at 600 Korean Veterans Boulevard. Turn&nbsp;left on 6th Avenue for entrances to the garage.</p>

                                                <p><strong>SOUTHWEST:</strong>From the East on I-40—Take I-40 West toward Nashville. Keep left to stay on I-40 West and follow signs for Huntsville/Memphis/I-65 South. Take exit 210C for 2nd Avenue toward 4th Avenue. Keep right at the fork, follow signs for 2nd Avenue and turn right onto 2ndAvenue South. Continue on 2nd Avenue to Koreans Veterans Boulevard and turn left. Located on right at 600 Korean Veterans Boulevard. Turn right on 6th Avenue for entrances to the garage.</p>

                                                <p><strong>DELIVERY: </strong>All deliveries go to 700 Korean Veterans Boulevard.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="last-in-well-normal">
                                        More details about something...
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="last-in-well-weighted">
                            Additional details... maybe disclaimer information or notes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bottom-content">
    <div class="container custom-container text-left">
        <h2>Already Submitted a Parking Inquiry?</h2>
        <p>
            Once you submit a parking inquiry, our administrative staff will review and reply to your inquiry using the email address you provided. If you have already received approval, you may login to check the status of your application.
        </p>
        <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-lg login-button">Login to ePark</a>
    </div>
</div>

@section Scripts {
    
}