﻿@model ePark.WebUI.Models.PayModel
@{
    ViewBag.Title = "PaymentHist";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>PaymentHist</h2>


<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @Html.LabelFor(model => model.User)
        @Html.TextBoxFor(model => model.User, new {@class = "filterItem"})

        @Html.LabelFor(model => model.PaymentDate)
        @Html.TextBoxFor(model => model.PaymentDate, new {@class = "filterItem"})

        <input id="filterbutton" type="submit" value="* Search *" class="btn btn-default" />
    </article>

</div>
<div class="row">

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="pjqgrid"></div>

            <table id="jqgrid" class="smoothscroll"></table>

            <br />
            @*<div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="btnPay" value="* Proceed To Payment *" class="btn btn-default" />
                </div>*@
        </article>
    </div>

    @section Scripts {
        @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/jquery.jqGrid.min.js")
        @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")
        //@Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")

        @Scripts.Render("~/Scripts/jqgridsrc/grid.inlinedit.js")


        <script type="text/javascript">

            $(document).ready(function() {
                jQuery("#jqgrid").jqGrid({
                    //data: jqgridData,
                    mtype: "Get",
                    datatype: "json",
                    url: "/PaymentHistory/ProvidePayHistory",
                    height: 'auto',
                    colNames: ["AspNetUserId", "ContractTransactionID", "User", "Name", "Group", "Payment", "Amount"],
                    colModel: [
                        {
                            name: "AspNetUserId",
                            hidden: true
                        },
                        {
                            name: "ContractTransactionID",
                            index: "ContractTransactionID",
                            key: true,
                            hidden: true
                        },
                        {
                            name: 'UserName',
                            index: 'UserName',
                            sortable: false,
                            editable: false
                        }, {
                            name: 'Name',
                            index: 'Name',
                            editable: false
                        }, {
                            name: 'GroupDesc',
                            index: 'GroupDesc',
                            editable: false

                        }, {
                            name: 'TransactionDesc',
                            index: 'TransactionDesc',
                            editable: false
                        }, {
                            name: 'Amount',
                            index: 'Amount',
                            editable: true,
                            formatter: 'number',
                            formatoptions: { decimalPlaces: 2 }

                        }
                    ],
                    rowNum: 12,

                    pager: '#pjqgrid',
                    loadonce: false,
                    sortname: 'id',
                    toolbarfilter: true,
                    viewrecords: true,
                    sortorder: "asc",
                    gridComplete: function() {
                        var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
                        for (var i = 0; i < ids.length; i++) {
                            var cl = ids[i];
                            be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('" + cl + "');\"><i class='fa fa-pencil'></i></button>";
                            se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('" + cl + "');\"><i class='fa fa-save'></i></button>";
                            ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                            ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                            //jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
                            // jQuery("#jqgrid").jqGrid('setRowData', ids[i], {
                            //     act: be + se + ca
                            // });
                        }
                    },
                    editurl: "PaymentManagement/TransEdit",
                    multiselect: true,
                    autowidth: true,
                    emptyrecords: 'No Payments to display',
                    jsonReader: {
                        root: 'rows',
                        page: 'page',
                        total: 'total',
                        records: 'records',
                        repeatitesm: false,
                        Id:'0'
                    }

                });


                // Controls for Edit, Delete, Refresh...  at bottom
                jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
                    edit: true,
                    add: false,
                    del: true,
                    search: true
                });

                jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
                /* Add tooltips */
                $('.navtable .ui-pg-button').tooltip({
                    container: 'body'
                });

                jQuery("#m1").click(function() {
                    var s;
                    s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
                });
                jQuery("#m1s").click(function() {
                    jQuery("#jqgrid").jqGrid('setSelection', "13");
                });

                // remove classes
                $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
                $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
                $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
                $(".ui-jqgrid-pager").removeClass("ui-state-default");
                $(".ui-jqgrid").removeClass("ui-widget-content");

                // add classes
                $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
                $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

                $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
                $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
                $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
                $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
                $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
                $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
                $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
                $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

                $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
                $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

                $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
                $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

                $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
                $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

                $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
                $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

                $(window).on("resize.jqGrid", function () {
                    $("#jqgrid").jqGrid("setGridWidth", $("#content").width());
                });

                $("#filterbutton").click(function (event) {
                    alert("test test tet ");
                    event.preventDefault();
                    filterGrid();
                });

            });

          

            function formateadorLink(cellvalue, options, rowObject) {

                return "<a href=/Admin/PaymentManagement/PaymentMaint/ids=" + rowObject.ContractTransactionID + ">" + cellvalue + "</a>";
            }

            function decimalMoney() {

                return "number: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, defaultValue: '0.00' }";

            }

            function filterGrid() {
                alert("filterGrid");
                var postDataValues = $("#jqgrid").jqGrid("getGridParam", "postData");


                $(".filteritem").each(function(index, item) {
                    postDataValues[$(item).attr("ContractTransactionID")] = $(item).val();
                });

                $("#jqgrid").jqGrid().setGridParam({ postData: postDataValues, page: 1 }).trigger("reloadGrid");
            }

           
            
        </script>
    }
