.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #b94a48;
}

.has-error input[type=text], .has-error input[type=text]+.input-group-addon, .has-error .form-control
{
    color: #b94a48;
    background:#fff0f0;
}

.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
    color: #468847;
    color: rgb(51, 51, 51);
}

.has-success .form-control {
    border-color: #468847;
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

    .has-success .form-control:focus {
        border-color: #356635;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #7aba7b;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #7aba7b;

        /* Bootstrap defaults from below */
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted \9;
        /* IE6-9 */

       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
       -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    }

.has-success .input-group-addon {
    color: #468847;
    border-color: #468847;
    background-color: #dff0d8;
}

.has-success .form-control-feedback {
    color: #468847;
}

/* Fix Chrome autofill color */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}