﻿@{
    ViewBag.Title = "Finalize Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mcc-epark-inquiry" class="standard-section text-left bg-gray">
    <div class="heading-inquiry margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>Your Account has been Successfully Activated!</h2>
                                    <p>
                                        Congratulations, your parking place has been reserved and now your account has been activated.
                                    </p>
                                    <p>In order to secure and finalize your reservation, you will now need to log in and pay for your parking place.</p>
                                    <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-lg login-button">Login to ePark</a>
                                </div>
                            </div>
                        </div>
                        <p class="last-in-well-weighted">
                            Additional details... maybe disclaimer information or notes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
