﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section id="mcc-epark-login" class="standard-section first-section text-left">
    <div class="heading-login margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>ACCOUNT RECOVERY</h2>
                                    <p>An email with instructions on how to access Your Account has been sent to you. To access Your Account, check your email. Click the link in the email which will navigate you to change your password.</p>
                                    <p>If you no longer have access to this email account, please contact us.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well well-lg well-light">
                                    <h4>IN ORDER TO ACCESS YOUR ACCOUNT</h4>
                                    <div class="intra-well-content-full">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ol>
                                                    <li>Check Your Email</li>
                                                    <li>Click the link in the email</li>
                                                    <li>Change your password</li>
                                                    <li>Log in to the system with your new password</li>
                                                </ol>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <br/><a href="@Url.Action("Login", "Account")" class="btn btn-primary login-button">Login to ePark</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="last-in-well-weighted">
                                Additional details... maybe disclaimer information or notes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
