﻿@model ePark.WebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section id="mcc-epark-login" class="standard-section first-section text-left">
    <div class="heading-login margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>Forgot Password</h2>
                                    @Html.ValidationSummary(true,"", new { @class = "alert alert-danger" })
                                    <p>If you know your email address (user account), please enter it below.</p>
                                    <p>We will send you an email immediately with instructions on how to access your account.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well well-lg well-light">
                                    <h4>ACCOUNT DETAILS</h4>
                                    <div class="intra-well-content-full">
                                       @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                       {
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Email)
                                                        @Html.TextBoxFor(model => model.Email, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Email)
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">
                                                            Continue
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Instructions &amp; Help</label>
                                                    <p>We will send you an email immediately with instructions on how to access your account.</p>
                                                    <p>If you no longer have access to the email address you provided, either register a new account or contact us for assistance.</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
