﻿@using ePark.WebUI.Helpers
@using ePark.WebUI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    string retUrl = "";

    if (ViewContext.HttpContext.Request.UrlReferrer != null)
    {

        retUrl = ViewContext.HttpContext.Request.UrlReferrer.PathAndQuery;

    }
}

<section id="mcc-epark-login" class="standard-section first-section text-left">
    <div class="heading-login margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>Account Login</h2>
                                    <p>If you have already submitted and been approved for a parking place you may log in to make a payment, manage your profile, review your orders, and see upcoming renewal dates and special offers.</p>
                                    <p>In order to log in, you will need to interact with the activation email that we sent you after approval.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well well-lg well-light">
                                    <h4>ACCOUNT DETAILS</h4>
                                    @AlertHelper.GetAvailableAlerts(this.ViewContext)
                                    <div class="intra-well-content-full">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = retUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Email)
                                                        @Html.TextBoxFor(model => model.Email, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Email)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Password)
                                                        @Html.TextBoxFor(model => model.Password, new { type = "password", @class = "form-control", placeholder = "Enter Password...", tabindex = 2, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Password)
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="checkbox-inline">
                                                            @Html.CheckBoxFor(model => model.RememberMe)
                                                            @Html.LabelFor(model => model.RememberMe)
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">
                                                            Log In
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Instructions &amp; Help</label>
                                                    <p>Did you know that until your parking inquiry is approved, you will be unable to login to our website? f you have already received your welcome email, please follow the instructions.</p>
                                                    <p>If you are still having trouble logging in? Click here for help.</p>
                                                    <div class="form-group">
                                                        <a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-default btn-lg pull-right">Recover Account</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
