﻿@using ePark.WebUI.Helpers
@model ePark.WebUI.ViewModels.ParkingInquiryViewModel
@{
    ViewBag.Title = "Parking Inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mcc-epark-inquiry" class="standard-section text-left">
    <div class="heading-inquiry margin-bottom-50 margin-top-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="well well-lg well-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h2>MCC Parking Application</h2>
                                    <p>
                                        To apply for a monthly parking permit, we require you to fill out the inquiry form below. The information that you provide when applying for a parking place will be reviewed by the Music City Center administrative staff. You must fill out this form in its entirety and incomplete applications will be rejected.
                                    </p>
                                    <p>Please fill out the form completely. The email address you provide during this application will be used to provide feedback concerning your inquiry as well as further instructions after your inquiry has been processed.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="well">
                                    @using (Html.BeginForm("ParkingInquiry", "Account", FormMethod.Post, new { role = "form" }))
                                    {
                                        <h4>ACCOUNT DETAILS</h4>
                                        @AlertHelper.GetAvailableAlerts(this.ViewContext)
                                        <div class="intra-well-content-full">
                                            @Html.AntiForgeryToken()
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.UserName, "Email Address (this will be your username) ")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.UserName, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.AspNetUser.Email)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.Email, "Email Address Again ")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.Email, new { type = "text", @class = "form-control", placeholder = "Confirm Email Address...", tabindex = 2, required = "required" })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.FirstName, "First Name")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.FirstName, new { type = "text", @class = "form-control parker", placeholder = "Enter First Name...", tabindex = 3, required = "required" })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.LastName, "Last Name")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.LastName, new { type = "text", @class = "form-control parker-default-last", placeholder = "Enter Last Name...", tabindex = 4, required = "required" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="checkbox-inline column">
                                                            <input id="parkercheck" type="checkbox" value="">Person parking is different than registrant?
                                                        </label>
                                                    </div>
                                                    <div class="form-group parkerdetails">
                                                        @Html.LabelFor(model => model.Inquiry.ParkerFirstName, "First Name")
                                                        @Html.TextBoxFor(model => model.Inquiry.ParkerFirstName, new { type = "text", @class = "form-control", placeholder = "Enter Parker First Name...", tabindex = 10 })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.ParkerFirstName)
                                                    </div>
                                                    <div class="form-group parkerdetails">
                                                        @Html.LabelFor(model => model.Inquiry.ParkerLastName, "Last Name")
                                                        @Html.TextBoxFor(model => model.Inquiry.ParkerLastName, new { type = "text", @class = "form-control", placeholder = "Enter Parker Last Name...", tabindex = 11 })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.ParkerLastName)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.PhonePrimary, "Primary Phone")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.PhonePrimary, new { type = "text", @class = "form-control", placeholder = "Enter Phone Number...", tabindex = 5, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.PhonePrimary)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.Address1, "Address")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.Address1, new { type = "text", @class = "form-control", placeholder = "Enter Address...", tabindex = 6, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.Address1)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.Address2, "Apt/Suite")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.Address2, new { type = "text", @class = "form-control", placeholder = "Enter Apt / Suite...", tabindex = 7 })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.Address2)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.City, "City")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.City, new { type = "text", @class = "form-control", placeholder = "Enter City...", tabindex = 8, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.City)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.PostalCode, "Postal Code")
                                                        @Html.TextBoxFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.PostalCode, new { type = "text", @class = "form-control", placeholder = "Enter Postal Code...", tabindex = 9, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.AspNetUser.AspNetUserProfile.PostalCode)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.ReservedMonthDateTime, "Requested Commencement Date")
                                                        @Html.TextBoxFor(model => model.Inquiry.ReservedMonthDateTime, new { @class = "form-control ecdatepicker", placeholder = "Requested Commencement Date..." })
                                                        @Html.ValidationMessageFor(model => model.Inquiry.ReservedMonthDateTime)
                                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Inquiry.Notes, "Notes")
                                                        @Html.TextAreaFor(model => model.Inquiry.Notes, new { type = "textarea", rows = 9, cols = 25, @class = "form-control", placeholder = "Additional Notes...", tabindex = 12 })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>EMPLOYER DETAILS</h4>
                                        <div class="intra-well-content-full">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Employer.BusinessName, "Employer Name")
                                                        @Html.TextBoxFor(model => model.Employer.BusinessName, new {type = "text", @class = "form-control", placeholder = "Enter Employer Name...", tabindex = 13, required = "required"})
                                                        @Html.ValidationMessageFor(model => model.Employer.BusinessName)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Employer.Address1, "Address")
                                                        @Html.TextBoxFor(model => model.Employer.Address1, new { type = "text", @class = "form-control", placeholder = "Enter Address...", tabindex = 13, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Employer.Address1)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Employer.Address1, "Apt / Suite")
                                                        @Html.TextBoxFor(model => model.Employer.Address1, new { type = "text", @class = "form-control", placeholder = "Enter Apt / Suite...", tabindex = 13, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Employer.Address1)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Employer.City, "City")
                                                        @Html.TextBoxFor(model => model.Employer.City, new { type = "text", @class = "form-control", placeholder = "Enter City...", tabindex = 13, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Employer.City)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Employer.PostalCode, "Postal Code")
                                                        @Html.TextBoxFor(model => model.Employer.PostalCode, new { type = "text", @class = "form-control", placeholder = "Enter Postal Code...", tabindex = 13, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Employer.PostalCode)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4>VEHICLE DETAILS</h4>
                                        <div class="intra-well-content-full">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Vehicle.VehicleMake, "Make")
                                                        @Html.TextBoxFor(model => model.Vehicle.VehicleMake, new { type = "text", @class = "form-control", placeholder = "Enter Vehicle Make...", tabindex = 13, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Vehicle.VehicleMake)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Vehicle.VehicleModel, "Model")
                                                        @Html.TextBoxFor(model => model.Vehicle.VehicleModel, new { type = "text", @class = "form-control", placeholder = "Enter Vehicle Model...", tabindex = 14, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Vehicle.VehicleModel)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Vehicle.VehicleYear, "Year")
                                                        @Html.TextBoxFor(model => model.Vehicle.VehicleYear, new { type = "text", @class = "form-control", placeholder = "Enter Vehicle Year...", tabindex = 15, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Vehicle.VehicleYear)
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Vehicle.VehicleColor, "Color")
                                                        @Html.TextBoxFor(model => model.Vehicle.VehicleColor, new { type = "text", @class = "form-control", placeholder = "Enter Vehicle Color...", tabindex = 16, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Vehicle.VehicleColor)
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Vehicle.VehicleLicense, "License")
                                                        @Html.TextBoxFor(model => model.Vehicle.VehicleLicense, new { type = "text", @class = "form-control", placeholder = "Enter License Tag...", tabindex = 17, required = "required" })
                                                        @Html.ValidationMessageFor(model => model.Vehicle.VehicleLicense)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-primary pull-right">
                                                        Submit Application
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <p class="last-in-well-normal">
                                        If you already have an account, please make your inquiry after logging in.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="last-in-well-weighted">
                            By signing up you accept our User Agreement and Privacy Policy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $(".parkerdetails").hide();

            $('.ecdatepicker').datepicker({
                startDate: new Date()
            });

            //$("#parkercheck").click(function () {
            //    if ($(".parkerdetails").is(":visible"))
            //        $(".parkerdetails").hide();
            //    else
            //        $(".parkerdetails").show();
            //});

            $("#parkercheck").click(function () {
                if ($(".parkerdetails").is(":visible")) {
                    $(".parkerdetails").removeClass("required");
                    $(".parkerdetails").hide();
                }
                else {
                    $(".parkerdetails").addClass("required");
                    $(".parkerdetails").show();
                }

            });
        });
    </script>
}

