﻿@using ePark.WebUI.Helpers
@model ePark.WebUI.Areas.Admin.Models.ContractViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-user"></i> Inquiry Maintenance <span>&gt; Manage Inquiry</span></h1>
    </div>
</div>

<section id="widget-grid" class="">

    @AlertHelper.GetAvailableAlerts(this.ViewContext)

    <div class="row">

        <article class="col-sm-12 sortable-grid ui-sortable">

            <div class="bActivewidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

                <header role="heading">
                    <div class="bActivewidget-ctrls" role="menu">  <a href="@Url.Action("Index", "Dashboard", new {area = "Admin"})" class="button-icon" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><i class="fa fa-times"></i></a></div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Inquiry Details</h2>

                    <span class="bActivewidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <div role="content">

                    <div class="widget-body">
                        @using (Html.BeginForm("Edit", "Contracts", FormMethod.Post, new { type = "form", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()

                            <fieldset>
                                <legend>User Information</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.InqView.UserName, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.HiddenFor(model => model.InquiryID)
                                        @Html.HiddenFor(model => model.Email)
                                        @Html.HiddenFor(model => model.ASPNetUserId)
                                        @Html.HiddenFor(model => model.Amount)
                                        <label class="control-label"><strong>@Html.DisplayTextFor(model => model.InqView.UserName)</strong></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstLastName, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FirstLastName, new { type = "text", @class = "form-control", tabindex = 1, required = "required" })
                                        @Html.ValidationMessageFor(model => model.InqView.Notes, "", new { @class = "text-danger small" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Address1, new { type = "text", @class = "form-control",  tabindex = 1 })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.InqView.PhonePrimary, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.HiddenFor(model => model.InqView.PhonePrimary)
                                        @Html.TextBoxFor(model => model.InqView.PhonePrimary, new { type = "text", @class = "form-control", placeholder = "(  ) ___-____", tabindex = 1 })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.InquiryCreateDate, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.HiddenFor(model => model.InquiryCreateDate)
                                        @Html.TextBoxFor(model => model.InquiryCreateDate, new { type = "text", @class = "form-control", tabindex = 1 })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.InqView.Notes, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.InqView.Notes, new { type = "text", @class = "form-control", placeholder = "Enter Notes...", tabindex = 1 })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SelectedGroupId, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10 has-feedback">
                                        @Html.DropDownListFor(model => model.SelectedGroupId, Model.ContractGroups, htmlAttributes: new { @class = "form-control input-sm" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.IsApproved, new { type = "checkbox", @class = "checkbox style-0" })<span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" name="SubmitEdit" type="submit">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>&nbsp;&nbsp;
                                       <a href="@Url.Action("Index", "Dashboard", new {area = "Admin"})" class="btn btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </article>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}