﻿@model IEnumerable<ePark.Data.Contract>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractStatu.ContractStatusDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group.GroupDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractStatu.ContractStatusDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ContractID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ContractID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ContractID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
