﻿@using ePark.WebUI.Helpers
@using ePark.WebUI.MvcExtensions
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title>@ViewBag.Title</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="~/Content/css/plugins/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/btAdapted-production-plugins.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/btAdapted-production.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Areas/Shared/Content/css/mccAdmin.css" />
    <link rel="shortcut icon" href="~/Areas/Shared/Content/img/favicon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/Areas/Shared/Content/img/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" />
    <link rel="apple-touch-icon" href="~/Areas/Shared/Content/img/splash/sptouch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Areas/Shared/Content/img/splash/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Areas/Shared/Content/img/splash/touch-icon-iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Areas/Shared/Content/img/splash/touch-icon-ipad-retina.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-startup-image" href="~/Areas/Shared/Content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="~/Areas/Shared/Content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="~/Areas/Shared/Content/img/splash/iphone.png" media="screen and (max-device-width: 320px)" />
</head>

<body class="">

    <header id="header">
        <div id="logo-group">

            <span id="logo"> <img src="~/Areas/Shared/Content/img/logo.png" alt="Music City Cener | ePark"> </span>
            <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 0 </b> </span>
        </div>

        <div class="project-context hidden-xs">

            <span class="label">Inquires:</span>
            <span class="project-selector dropdown-toggle" data-toggle="dropdown">System Notifications <i class="fa fa-angle-down"></i></span>

            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0);">Your Parking Reservation will expire in 3 days</a>
                </li>
                <li>
                    <a href="javascript:void(0);">You have 1 approved parking inquiry that needs to be paid</a>
                </li>
            </ul>
        </div>

        <div class="pull-right">

            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>

            @*<div id="logout" class="btn-header transparent pull-right">
                    @using (Html.BeginForm("Logoff", "Account", new { area = "" }, FormMethod.Post,
                new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                    }
                    <span><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i></a></span>
                </div>*@

            <div id="logout" class="btn-header transparent pull-right">
                <span><a href="@Url.Action("Logoff", "Account", new {area = ""})" title="Sign Out"><i class="fa fa-sign-out"></i></a></span>
            </div>

            <div id="search-mobile" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
            </div>

            <form action="#" class="header-search pull-right">
                <input id="search-fld" type="text" name="param" placeholder="Search parking inquires">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
            </form>

            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
            </div>
        </div>

    </header>
    <aside id="left-panel">

        <div class="login-info">
            <span>
                <a href="javascript:void(0);" id="show-shortcut" data-action="">
                    <img src="~/Areas/Shared/Content/img/avatars/avatar.png" alt="me" class="online" />
                    <span>
                        @{
                            Html.RenderAction("GetUserDetails", "Account", new { area = "" });
                        }
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>

            </span>
        </div>
        <nav>
            <ul>
                <li class="active">
                    <a href="@Url.Action("Index", "Dashboard", new {area = "Users"})"><i class="fa fa-lg fa-fw fa-user @Html.IsActive("Index", "Dashboard")"></i> Dashboard</a>
                    @* <a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>*@
                </li>
                @* Inquiries *@
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-car"></i> <span class="menu-item-parent">Inquiries &amp; Contracts</span></a>
                    <ul>

                        <li>
                            <a href="#"><i class="fa fa-check"></i> View My Inquires</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-list-alt"></i> View My Contracts</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">Manage Payments</span></a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Payment", new {id=User.Identity.GetUserId()})"><i class="fa fa-user @Html.IsActive("Index", "Payment")"></i> Payments</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PaymentHist", "PaymentHistory", new { id = User.Identity.GetUserId() })"><i class="fa fa-user @Html.IsActive("PaymentHist", "PaymentHistory")"></i> Payment History</a>
                        </li>
                    </ul>
                </li>
                @* Public Manage Vehicles *@
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-car"></i> <span class="menu-item-parent">Manage Vehicles</span></a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Vehicles", new { id=User.Identity.GetUserId()})"><i class="fa fa-user @Html.IsActive("Index", "Vehicles")"></i> Vehicles</a>
                        </li>
                    </ul>
                </li>
                @* Public Manage Additional Drivers *@
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Driver Management</span></a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Participants", new {id=User.Identity.GetUserId()})"><i class="fa fa-user @Html.IsActive("Index", "Participants")"></i> Manage Drivers</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

    </aside>
    <div id="main" role="main">

        <div id="ribbon">

            <span class="ribbon-button-alignment">
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets"><i class="fa fa-refresh"></i></span>
            </span>

            <ol class="breadcrumb">
                <li>Home</li>
                <li>Dashboard</li>
            </ol>

        </div>
        <div id="content" style="opacity: 1;">
            @RenderBody()
        </div>

    </div>
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">Nashville Music City Center <span class="hidden-xs"> - ePark</span> © 2015-2016</span>
            </div>
            <div class="col-xs-6 col-sm-6 text-right hidden-xs">
                <div class="txt-color-white inline-block">
                    <i class="txt-color-blueLight hidden-mobile">Last Parking Inquiry <i class="fa fa-clock-o"></i> <strong>20 mins ago &nbsp;</strong> </i>
                    <div class="btn-group dropup">
                        <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
                            <i class="fa fa-link"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right text-left">
                            <li>
                                <div class="padding-5">
                                    <button class="btn btn-block btn-default">Manage Inqiries</button>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="padding-5">
                                    <button class="btn btn-block btn-default">Refresh Count</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Areas/Shared/Content/js/libs/jquery-2.1.1.min.js"></script>
    <script src="~/Areas/Shared/Content/js/libs/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Areas/Shared/Content/js/app.config.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Areas/Shared/Content/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Areas/Shared/Content/js/notification/ModalNotifications.min.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/select2/select2.min.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
    <script src="~/Areas/Shared/Content/js/plugin/fastclick/fastclick.min.js"></script>

    <!--[if IE 8]>

        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

        <![endif]-->

    <script src="~/Areas/Shared/Content/js/app.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            pageSetUp();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>