﻿/* ==== GF import ==== */
/*@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');*/

body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif !important;
    color: #666;
    background-color: #fff;
    background-image: url('../img/bg-4.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: #000000;
}

html {
    /*width: 100%;
    height: 100%;*/
    height:100% !important;
}

html.public{
  padding: 0;
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #001d49;
    margin: 0 0 30px;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    font-weight: 500;
}

form h5 {
    background-color: #d6dde7;
    padding: 4px;
    padding-left: 6px;
    color: #305d8c;
    margin-bottom: 20px;
}


p {
    color: #001d49;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 1.4em;
}

    p.lead {
        font-weight: 600;
    }

    p.last-in-well-weighted {
        font-weight: 600;
        margin-bottom: 0px;
    }

    p.last-in-well-normal {
        margin-bottom: 0px;
    }

a {
    color: #337ab7;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #176e61;
    }


address {
    margin-left: 0;
    padding: 0;
}

/* misc elements */
hr {
    margin-top: 10px;
}

/* --- margins  --- */
.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}


.margin-top-0 {
    margin-top: 0 !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-top-70 {
    margin-top: 60px !important;
}

/* --- Standard layout --- */

.standard-section {
    padding-top: 20px;
    padding-bottom: 0px;
    display: block;
    position: relative;
    /*z-index: 120;*/
}

    .standard-section.first-section {
        padding-top: 20px;
    }

.section-heading h2 {
    font-size: 40px;
}

.section-heading i {
    margin-bottom: 20px;
}

.section-heading.logo {
    margin-top: 2px;
}

.quick-app-button {
    margin-top: 10px;
}

.bg-gray {
    background-image: url('../img/white-pattern.jpg');
    background-repeat: repeat;
    background-position: 0 0;
    background-color: #F8F8F8;
    border-top: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding-top: 60px;
}

/* --- Alerts --- */

.alert {
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #675100;
    border-width: 0;
    border-left-width: 5px;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

    .alert .close {
        top: 0;
        right: -5px;
        line-height: 20px;
    }

.alert-heading {
    font-weight: 600;
}

.alert-danger {
    border-color: #953b39;
    color: #fff;
    background-color: #c26565;
    text-shadow: none;
}

.alert-warning {
    border-color: #dfb56c;
    color: #826430;
    background-color: #efe1b3;
}

.alert-success {
    border-color: #8ac38b;
    color: #356635;
    background-color: #cde0c4;
}

.alert-info {
    border-color: #9cb4c5;
    color: #305d8c;
    background-color: #d6dde7;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}


/* --- Bootstrap overrides --- */

.navbar {
    background-color: #323232;
    background: transparent;
    background-color: rgba(50, 50, 50, 0.4);
    border: 1px solid #000;
}

    .navbar li {
        color: #000;
    }


.checkbox-inline label {
    font-weight: normal;
    }

.checkbox-inline.column
{
	height: 58px;
    margin-top: 0px;
    padding-top: 20px;
    font-weight: 700;
}

.container-fixed-height {
    min-height: 600px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


select.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
    border: 1px solid #b94a48;
    margin-top:20px;
}

.validation-summary-valid {
    display: none;
}


/*  --- Boxes and Other --- */

.boxed-grey {
    background: #eee;
    padding: 20px;
}

.bg-gray .boxed-grey {
    background: #f1f1f1;
}


.mcc-social-icons {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

.mcc-social-icons {
    text-align: left;
}

    .mcc-social-icons li {
        display: inline-block;
        margin: 0 !important;
        padding: 0;
    }

    .mcc-social-icons a {
        margin: 0;
        padding: 0;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #3bbec0;
        color: #fff;
        -webkit-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }

        .mcc-social-icons a i {
            text-align: center;
            margin: 0;
            padding: 0;
        }

    .mcc-social-icons .social-facebook a {
        background: #337ab7;
    }

    .mcc-social-icons .social-twitter a {
        background: #337ab7;
    }

    .mcc-social-icons .social-pinterest a {
        background: #337ab7;
    }

    .mcc-social-icons .social-facebook a:hover {
        background: #4893ce;
    }

    .mcc-social-icons .social-twitter a:hover {
        background: #82e6ff;
    }

    .mcc-social-icons .social-pinterest a:hover {
        background: #28c3ab;
    }

/* --- bottom section (non-well)  --- */

.bottom-content {
    padding: 50px 0;
    color: #333;
    font-weight: 300;
    border: none;
    background: url('../img/back-img1.png') center center, #ECECEC;
    overflow: hidden;
    margin-bottom: -1px;
}

    .bottom-content p {
        font-size: 16px;
        line-height: 30px;
    }

    .bottom-content h2 {
        font-size: 36px;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .bottom-content .login-button {
	margin-top: 15px;
	border: none;
	text-transform: uppercase;
	padding: 10px 18px;
}

 #bodycontent{
  min-height: 100%;
  box-sizing: border-box;
  margin-bottom: -40px;
  padding-bottom: 4px;
 }

/*  --- Footer --- */

footer {
    background-color: rgb(45, 45, 45);
    height: 40px;
    padding-top:1px;
}

.bottom-footer {
    background-color: rgb(45, 45, 45);
    background-color: #080808;
    padding-top: 10px;

}

    .bottom-footer p {
        color: #C0C0C0;
        font-size: 13px;
        padding: 10px 0;
    }

    .bottom-footer ul {
        list-style: none;
    }

        .bottom-footer ul li {
            display: inline-block;
            margin-left: 3px;
        }

            .bottom-footer ul li a {
                font-size: 13px;
                color: #C0C0C0;
                text-decoration: none;
                padding-left: 30px;
            }

            .bottom-footer ul li:first-child a {
                padding-left: 0;
            }

            .bottom-footer ul li.active a {
                color: #C0C0C0;
                font-weight: bold;
            }


/* --- html and overrides --- */

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* jacked up media queries */

@media (min-width: 767px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

.intra-well-content-full {
    padding: 20px 15px;
    font-size: 13.5px;
}

    .intra-well-content-full li + li {
        margin-top: 10px;
    }

.intra-well-content-half {
    padding: 10px;
    font-size: 13.5px;
}

    .intra-well-content-half li + li {
        margin-top: 2px;
    }

/*section {
    padding-top: 100px;
    padding-bottom: 100px;
}*/

/* well derivitave*/

.well.well-light {
    color: #001d49;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    background: rgba(255,255,255,0.8);
    min-height:300px;
}

    .well.well-light h4 {
        margin-bottom: 2px;
    }

/* Scroll Up Button */

#scrollUp {
    bottom: 0;
    right: 30px;
    width: 70px;
    height: 70px;
    margin-bottom: -10px;
    padding: 10px 5px;
    font: 14px/20px sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    color: #828282;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB), to(#DEDEDE));
    background-image: -webkit-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: -o-linear-gradient(top, #EBEBEB, #DEDEDE);
    background-image: linear-gradient(to bottom, #EBEBEB, #DEDEDE);
    background-repeat: repeat-x;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

    #scrollUp:hover {
        margin-bottom: 0;
    }
