﻿@{
    ViewBag.Title = "Index";
}
        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <table id="jqgrid"></table>
                <div id="pjqgrid"></div>

                <br>

            </article>

        </div>
@section Scripts {
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/jquery.jqGrid.min.js")
    @Scripts.Render("~/Areas/Shared/Content/js/plugin/jqgrid/grid.locale-en.min.js")

@Scripts.Render("~/Scripts/jqgridsrc/grid.inlinedit.js")

    <script type="text/javascript">
        $(document).ready(function () {
            var grid = $('#jqgrid');
            grid.jqGrid({
                //data: jqgridData,
                datatype: "json",
                url: "UserManagement/ProvideUsers",
                height: 'auto',
                colNames: ['AspNetUsersId', 'User', 'FirstName', 'LastName', 'Address', 'City', 'State', 'Phone', 'Contract'],
                colModel: [
                    {
                        name: 'AspNetUsersId',
                        index: 'AspNetUsersId',
                        hidden: true
                    },
                        {
                        name: 'UserName',
                        index: 'UserName',
                        sortable: false,
                        editable: false//,
                        //formatter: formateadorLink
                    },  {
                        name: 'FirstName',
                        index: 'FirstName',
                        editable: false
                    }, {
                        name: 'LastName',
                        index: 'LastName',
                        editable: false

                    }, {
                        name: 'Address1',
                        index: 'Address1',
                        editable: false
                    }, {
                        name: 'City',
                        index: 'City',
                        editable: true
                    }, {
                        name: 'State',
                        index: 'State',
                        editable: false
                    },
                    {
                        name: 'PhonePrimary',
                        index: 'PhonePrimary',
                        editable: false
                    },
                    
                    {
                        name: 'Contract',
                        fixed: true,
                        formatter: formatTmplteLink
                    }

                ],
                rowNum: 15,
                
                pager: '#pjqgrid',
                loadonce: true,
                altrows: true,
                sortable: true,
                gridview: true,
                emptyRecords: "No records to display",
                caption: "Log",
                sortname: 'id',
                toolbarfilter: true,
                viewrecords: true,
                sortorder: "asc",
                gridComplete: function () {
                    var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var cl = ids[i];
                        be = "<button class='btn btn-xs btn-default' data-original-title='Edit Row' onclick=\"jQuery('#jqgrid').editRow('" + cl + "');\"><i class='fa fa-pencil'></i></button>";
                        se = "<button class='btn btn-xs btn-default' data-original-title='Save Row' onclick=\"jQuery('#jqgrid').saveRow('" + cl + "');\"><i class='fa fa-save'></i></button>";
                        ca = "<button class='btn btn-xs btn-default' data-original-title='Cancel' onclick=\"jQuery('#jqgrid').restoreRow('" + cl + "');\"><i class='fa fa-times'></i></button>";
                        //ce = "<button class='btn btn-xs btn-default' onclick=\"jQuery('#jqgrid').restoreRow('"+cl+"');\"><i class='fa fa-times'></i></button>";
                        //jQuery("#jqgrid").jqGrid('setRowData',ids[i],{act:be+se+ce});
                        //jQuery("#jqgrid").jqGrid('setRowData', ids[i], {
                        //    act: be + se + ca
                        //});
                    }
                },
                editurl: "dummy.html",

                caption: "ePark Parking Users",
               // multiselect: true,
                autowidth: true,
                onSelectRow: function (AspNetUsersId) {
                    // just get the ID:
                    // alert(id);
                   // alert(AspNetUsersId);
                    // get the ID and other column data
                     var selectedRow = jQuery("#jqgrid").jqGrid("getGridParam", "selrow");
                     var row = jQuery("#jqgrid").jqGrid("getRowData", selectedRow);
                     //alert("You selected: " + row.Id + " With HttpResponse: " + row.AspNetUsersId);

                    //NAVIGATE ON ROW CLICK
                     window.location = "/Admin/UserManagement/UserMaint/?userid=" + row.AspNetUsersId;
                }

            });
            jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
                edit: false,
                add: false,
                del: true
            });
            jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
            /* Add tooltips */
            $('.navtable .ui-pg-button').tooltip({
                container: 'body'
            });

            jQuery("#m1").click(function () {
                var s;
                s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
                alert(s);
            });
            jQuery("#m1s").click(function () {
                jQuery("#jqgrid").jqGrid('setSelection', "13");
            });

            // remove classes
            $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
            $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
            $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
            $(".ui-jqgrid-pager").removeClass("ui-state-default");
            $(".ui-jqgrid").removeClass("ui-widget-content");

            // add classes
            $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
            $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

            $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
            $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
            $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
            $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
            $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
            $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
            $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
            $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

            $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

            $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

            $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

            $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
            $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        });

        $(window).on('resize.jqGrid', function () {
            $("#jqgrid").jqGrid('setGridWidth', $("#content").width());
        });

       // function formateadorLink(cellvalue, options, rowObject) {
       // 
       //     return "<a href=/Admin/UserManagement/UserMaint/?userid=" + rowObject.AspNetUsersId + ">" + cellvalue + "</a>";
       // }
        function formatTmplteLink(cellvalue, options, rowObject) {

            return "<a href=/Admin/ContractTemplate/Index/?userid=" + rowObject.AspNetUsersId + ">CONTRACT</a>";
        }
    </script>
}