﻿@model ePark.WebUI.Areas.Admin.Models.UserManagementModel
@{
    ViewBag.Title = "UserMaint";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-user"></i> User Management <span>&gt; Manage Users</span></h1>
    </div>
</div>


<section id="widget-grid" class="">

    <div class="well">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search Users...">
            <div class="input-group-btn">
                <button class="btn btn-default btn-primary" type="button">
                    <i class="fa fa-search"></i> Search
                </button>
            </div>
        </div>
    </div>

    <div class="row">

        <article class="col-sm-12 sortable-grid ui-sortable">

            <div class="bActivewidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

                <header role="heading">
                    <div class="bActivewidget-ctrls" role="menu"><a href="@Url.Action("Index", "Dashboard", new {area = "Admin"})" class="button-icon bActivewidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Save"><i class="fa fa-save"></i></a>  <a href="@Url.Action("Index", "Dashboard", new {area = "Admin"})" class="button-icon bActivewidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><i class="fa fa-times"></i></a></div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>User Details</h2>

                    <span class="bActivewidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <div role="content">

                    <div class="widget-body">
                        @using (Html.BeginForm("UserMaint", "UserManagement", FormMethod.Post, new { type = "form", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                <legend>User Information</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.Email, "Username", htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <label class="control-label"><strong>@Html.DisplayTextFor(model => model.User.Email)</strong></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.FirstName, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.User.FirstName, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.LastName, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.User.LastName, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.Address1, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.User.Address1, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.City, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.User.City, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.State, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.User.State, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.PostalCode, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.User.PostalCode, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.PhonePrimary, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.User.PhonePrimary, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Account Details</legend>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.User.Email, new { type = "text", @class = "form-control", placeholder = "Enter Email Address...", tabindex = 1, required = "required" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.MccEmployee, htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.User.MccEmployee.Value, new {type = "checkbox", @class = "checkbox style-0"})<span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.User.LockoutEnabled, "Account Enabled", htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            <label>
                                                @Html.CheckBoxFor(model => model.User.LockoutEnabled, new { type = "checkbox", @class = "checkbox style-0" })<span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" name="SubmitEdit" type="submit">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>&nbsp;&nbsp;
                                        <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "UserManagement", new {area = "Admin"})'">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </article>
    </div>
</section>
