﻿@using ePark.WebUI.Helpers
@using Microsoft.AspNet.Identity
@model ePark.Data.Vehicle

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-car"></i> Vehicle Maintenance <span>&gt; Add Vehicle</span></h1>
    </div>
</div>

<section id="widget-grid" class="">

    @AlertHelper.GetAvailableAlerts(this.ViewContext)

    <div class="row">

        <article class="col-sm-12 sortable-grid ui-sortable">

            <div class="bActivewidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

                <header role="heading">
                    <div class="bActivewidget-ctrls" role="menu">  <a href="@Url.Action("Index", "Vehicles", new {area = "Users", id = User.Identity.GetUserId()})" class="button-icon" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><i class="fa fa-times"></i></a></div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Inquiry Details</h2>

                    <span class="bActivewidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <div role="content">

                    <div class="widget-body">
                        @using (Html.BeginForm("Create", "Vehicles", FormMethod.Post, new { type = "form", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.VehicleID)
                            @Html.HiddenFor(model => model.ContractID)
                            <fieldset>
                                <legend>Vehicle Information</legend>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleMake, "Make", htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.VehicleMake, new { type = "text", @class = "form-control", tabindex = 1, required = "required" })
                                        @Html.ValidationMessageFor(model => model.VehicleMake, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleModel, "Model", htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.VehicleModel, new { type = "text", @class = "form-control", tabindex = 2, required = "required" })
                                        @Html.ValidationMessageFor(model => model.VehicleModel, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleYear, "Year", htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.VehicleYear, new { type = "number", @class = "form-control", tabindex = 3, required = "required" })
                                        @Html.ValidationMessageFor(model => model.VehicleYear, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleColor, "Color", htmlAttributes: new {@class = "col-md-2 control-label"})
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.VehicleColor, new {type = "text", @class = "form-control", tabindex = 4, required = "required"})
                                        @Html.ValidationMessageFor(model => model.VehicleColor, "", new {@class = "text-danger small"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VehicleLicense, "License Tag", htmlAttributes: new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.VehicleLicense, new { type = "text", @class = "form-control", tabindex = 4, required = "required" })
                                        @Html.ValidationMessageFor(model => model.VehicleLicense, "", new { @class = "text-danger small" })
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" name="SubmitEdit" type="submit">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>&nbsp;&nbsp;
                                        <a href="@Url.Action("Index", "Vehicles", new {area = "Users", id = User.Identity.GetUserId()})" class="btn btn-default">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </article>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}