﻿@using ePark.WebUI.Helpers
@model List<ePark.Data.Vehicle>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-car"></i> Vehicle Maintenance <span>&gt; Manage Vehicles</span></h1>
    </div>
</div>

<section id="widget-grid" class="">

    @AlertHelper.GetAvailableAlerts(this.ViewContext)

    <div class="row">

        <article class="col-sm-12 sortable-grid ui-sortable">

            <div class="bActivewidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

                <header role="heading">
                    <div class="bActivewidget-ctrls" role="menu"> <a href="@Url.Action("Index", "Dashboard", new {area = "Users"})" class="button-icon" rel="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="widget-toolbar" role="menu">
                        <a href="@Url.Action("Create", "Vehicles", new {area = "Users"})" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Vehicle</a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Vehicle List</h2>

                    <span class="bActivewidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <div role="content">

                    <div class="widget-body">
                        <div class="table-responsive">

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-md-1"></th>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Year</th>
                                    <th>Color</th>
                                    <th>License</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-xs btn-default" data-original-title="Edit" rel="tooltip" data-placement="top" onclick="location.href='@Url.Action("Edit", "Vehicles", new {area = "Users", id = item.VehicleID })'"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-xs btn-default" data-original-title="View Details" rel="tooltip" data-placement="top" onclick="location.href='@Url.Action("Details", "Vehicles", new {area = "Users", id = item.VehicleID })'"><i class="fa fa-search"></i></button>
                                            <button class="btn btn-xs btn-default" data-original-title="Delete" rel="tooltip" data-placement="top" onclick="location.href='@Url.Action("Delete", "Vehicles", new {area = "Users", id = item.VehicleID })'"><i class="fa fa-times"></i></button>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleMake)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleModel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleYear)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleColor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleLicense)
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
