﻿@model ePark.WebUI.Areas.Admin.Models.GroupsModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            <div class="col-lg-12">
                <h4 class="fa fa-lg fa-fw fa-user"> Group Maintenance</h4>
                <div class="well well-lg well-light">
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    @Html.HiddenFor(model => model.currGroup.GroupID)

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.GroupCategories, "GroupCategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("GroupCategoryID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.GroupCategories, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.currGroup.GroupDesc, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.currGroupRate.GroupRatesID)
                            @Html.HiddenFor(model => model.currGroupRate.GroupID)
                            @Html.HiddenFor(model => model.currGroupRate.IsActive)
                            @Html.EditorFor(model => model.currGroup.GroupDesc, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.currGroup.GroupDesc, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.currGroupRate.GroupRateBegin, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.currGroupRate.GroupRateBegin,  new { @class = "form-control ecdatepicker" })
                            @Html.ValidationMessageFor(model => model.currGroupRate.GroupRateBegin, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.currGroupRate.GroupRateEnd, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.currGroupRate.GroupRateEnd, new {@class = "form-control ecdatepicker"})
                            @Html.ValidationMessageFor(model => model.currGroupRate.GroupRateEnd, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.currGroupRate.Amount, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.currGroupRate.Amount, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.currGroupRate.Amount, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.currGroup.IsActive, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.currGroup.IsActive)
                                @Html.ValidationMessageFor(model => model.currGroup.IsActive, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
                @section Scripts {
                    <script type="text/javascript">
                        $(document).ready(function () {

                            $('.ecdatepicker').datepicker({
                                startDate: new Date()
                            });
                        });
                    </script>
                }

