﻿@using System.Activities.Expressions
@model ePark.WebUI.Models.PayModel
@{
    ViewBag.Title = "Payments";
}

<div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table id="jqgrid"></table>
        <div id="pjqgrid"></div>
    </article>
</div>

<div class="intra-well-content-full">
    @using (Html.BeginForm("Pay", "Payment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedPayTypeId)
                    @Html.DropDownListFor(model => model.SelectedPayTypeId, Model.PayTypes)
                </div>
            </div>
            <hr />
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.HiddenFor(model => model.userid)
                    @Html.LabelFor(model => model.amt)
                    @Html.DisplayFor(model => model.amt)
                    @Html.HiddenFor(model => model.amt)
                    @Html.ValidationMessageFor(model => model.amt)
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.ttlCBIDFee)
                    @Html.DisplayFor(model => model.ttlCBIDFee)
                    @Html.HiddenFor(model => model.ttlCBIDFee)
                    @Html.ValidationMessageFor(model => model.ttlCBIDFee)
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.ttlTax)
                    @Html.DisplayFor(model => model.ttlTax)
                    @Html.HiddenFor(model => model.ttlTax)
                    @Html.ValidationMessageFor(model => model.ttlTax)
                    @Html.HiddenFor(model => model.ContractTranstctionIds)
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.ttlAmount)
                    @Html.HiddenFor(model => model.ttlAmount)
                    @Html.DisplayFor(model => model.ttlAmount)
                    @Html.ValidationMessageFor(model => model.ttlAmount)
                </div>
            </div>
            <div id="nonCCard" style="display: block">
                <div class="col-md-offset-2 col-md-10">
                    <div id="nonCC" class="form-group">

                        <input type="submit" value="* Purchase Now *" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }
    <!--New Form-->
    @using (Html.BeginForm("PayCC", "Payment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div id="CCard" style="display: none">
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.BillingCardTypesID)
                    @Html.DropDownListFor(model => model.BillingCardTypesID, Model.BillingCardTypes)
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.HiddenFor(model => model.ContractTranstctionIds)
                    @Html.HiddenFor(model => model.SelectedPayTypeId)
                    @Html.HiddenFor(model => model.ttlAmount)
                    @Html.HiddenFor(model => model.ttlCBIDFee)
                    @Html.HiddenFor(model => model.ttlTax)
                    @Html.HiddenFor(model => model.userid)
                    @Html.LabelFor(model => model.CCard)
                    @Html.TextBoxFor(model => model.CCard)
                    @Html.ValidationMessageFor(model => model.CCard)
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.CVV)
                    @Html.TextBoxFor(model => model.CVV)
                    @Html.ValidationMessageFor(model => model.CVV)
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.CCName)
                    @Html.TextBoxFor(model => model.CCName)
                    @Html.ValidationMessageFor(model => model.CCName)
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.CCZip)
                    @Html.TextBoxFor(model => model.CCZip)
                    @Html.ValidationMessageFor(model => model.CCZip)
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">
                    @Html.LabelFor(model => model.CCMonthSelectedId)
                    @Html.DropDownListFor(model => model.CCMonthSelectedId, Model.CCMonthItems)
                </div>
            </div>
            @*<div class="col-md-offset-2 col-md-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SelectedCCYearId)
                        @Html.DropDownListFor(model => model.SelectedCCYearId, Model.CCYearsItems)
                    </div>
                </div>*@

            <div class="col-md-offset-2 col-md-10">
                <div class="form-group">

                    <input type="submit" value="* Purchase Now *" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
</div>


