﻿@using System.Activities.Expressions
@model ePark.WebUI.Models.PaymentModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row">
    <div class="col-xs-12">

        <div class="clearfix">
            <div class="pull-right tableTools-container"></div>
        </div>
        <div class="table-header">
           Payments Due"
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>
                            Payment Type
                        </th>
                        <th >Amount</th>
                        <th>Month</th>
                        <th>Paid</th>
                    </tr>
                </thead>

            <tbody>
            @foreach (var item in Model.ResPaymentViewList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>

                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>

                    <td>@Html.DisplayFor(modelItem => item.TransactionDesc)</td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservedMonth)
                    </td>
                    <td>
                        
                        @if (item.Paid != null && (bool) item.Paid)
                        {
                            Html.Display("Paid");
                        }
                        else
                        {
                            Html.Display("Not Paid");
                        }
                    </td>
                  
                </tr>

            }
                <p>
                    @Html.ActionLink("Document", "Document", new { id = Model.userid })
                </p>
            </tbody>
            </table>
        </div>
    </div>
</div>

